body{
  background-image: url(https://images.unsplash.com/photo-1591195854242-8804547cdcab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8dGV4dHVyYXN8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat ;
  background-size: cover;
  background-position: center center;
  height: 500px;
  background-attachment: fixed;
}
.section1 {
  display: flex;
  grid-area: section1;
  flex-wrap: wrap;
  justify-content: space-around;

  img {
    height: 450px;
    width: 500px;
    margin: 50px;
    border: solid 3px $colorPrincipal;
    border-radius: 5px;
    padding: 5px;
    

    /*transform: translate(0px 0px 50px)*/
  }

  p {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.frase1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  border-right: solid 5px $colorSecundario;
  padding-right: 40px;
  color: $colorPrincipal;
}

.frase2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: $tercerColor;
}

/*section1*/
/*section2*/

.section2 {
  display: flex;
  margin: 50px;
  justify-content: center;

  img {
    height: 300px;
    width: 350px;
    padding: 5px;
    margin: 50px;

    /* position: relative;
      left: 100px; */
    border: solid 3px $colorPrincipal;
    border-radius: 5px;
  }

  grid-area: section2;
}


@keyframes cambioColor {
  0% {
    background-color: #e5dbd9;
  }

  25% {
    background-color: burlywood;
  }

  50% {
    background-color: darkgoldenrod;
  }

  100% {
    background-color: #ff8952;
  }
}
@media (max-width: 1200px) {
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1050px) {
  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
  }
}

@media (max-width: 520px) {
  .section1 {
    flex-direction: column;

  }

  .section1 img {
    height: 300px;
    width: 300px;
    position: relative;
    left: 50px;
  }

  .frase1 {
    display: flex;
    font-size: 50px;
    padding-right: 0px;

  }
  .frase2{
    font-size: 25px;
  
  }
}
@media (max-width: 450px){
  .section1 img  {
    margin: 10px;
    margin-top: 40px;
    
    
  }
}
@media (max-width: 418px) {
  .section1 img {
    height: 200px;
    width: 200px;
    

}

.frase1 {
    padding-right: 10px;
    font-size: 50px;
}
.frase2{
  font-size: 15px;

}

.section2 img {
    margin: 2px;
    height: 200px;
    width: 250px;
}
}

img{
  &:hover{
   filter: brightness(50%);
   transition: .3s;
   transform: scale(1.1);
  }
}