

main{

    h1{
        color: white;
        background-color: black;
    }
    
        .primeraSeccion{
            padding: 1rem;
            background-color: gray;
        }
        p{
           text-align: center;
        }
}

.segundaSeccion{
    font-family: sans-serif;
}